.page{
    grid-row-start: 10;
    grid-column-start: 12;
    justify-self:center;
    height:97vh;
    background-color: #e4e4e4;
}
.container{
    display: flex;
    flex-direction:row;
}
.buttom{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 20px;
}
.linkButton{
    text-decoration: none;
}
.logoutButton{
    display: flex;
    justify-self: flex-end;
    background-color:#47974b;
    color: #ffffff;
    border-color: #e4e4e4;
}
.space{
    width: 60%;
}
.search{
    display: flex;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    margin: 30px;
}
.table{
    align-content: center;
    justify-content: center;
}